.question{
    padding: 126px 0;
}
.question .options{
    display: flex;
}
.question .options h5{
    width: 5%;
}
.question .options .ques{
    width: 90%;
}
.question .options h4{
    width: 5%;
    text-align: right;
    cursor: pointer;
}
.mypara{
    display: none;
    background-color: #e5e5e5;
}